<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Wow!</title>
    <link rel="stylesheet" href="src/Views/includes/css/style.css" media="screen" type="text/css">
</head>
